{% extends 'base.html' %}
{% block content %}

<main class="container">

<div class="row">
    <div class="col-8">
        <h1>My Jobs</h1>
    </div>
    <div class="col-4 detail-header">
        <a class="btn job-btn" href="{% url 'jobs_create' %}">Add Job</a>
    </div>
</div>
<hr />


{% for job in job_list %}
    <a href="{% url 'jobs_detail' job.id %}">
        <div class="card shadow p-3 mb-5 rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                            <img class="icon" src="https://logo.clearbit.com/{{ job.company|cut:' ' }}.com" alt="">
                    </div>
                    <div class="col-8 index-card">
                        <h2 class="card-title">{{ job.company }}</h2>
                        <h3 class="card-text">{{ job.title }}</h3>
                    </div>
                    <div class="col-2 job-status">

                        
                        {% if job.status in "12" %}
                            <span style="color: #2F3E60">
                        {% elif job.status in "34" %}
                            <span style="color: #EF8A17">
                        {% elif job.status in "58" %}  
                            <span style="color: #157F1F">
                        {% elif job.status in "67" %}
                            <span style="color: #EF2917">
                        {% endif %}                    
                            
                            <h4 class="card-text">{{ job.get_status_display }}</h4>
                        </span>

                    </div>
                </div>
            </div>            
        </div>
    </a>
{% endfor %}
    

{% endblock %}





