{% extends 'base.html' %}
{% block content %}

<h1>Job Tracker</h1>
<hr />
<p>Track your jobs!</p>


{% for job in job_list %}
    <a href="{% url 'jobs_detail' job.id %}">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                            <img class="icon" src="https://logo.clearbit.com/{{ job.company|cut:' ' }}.com" alt="">
                    </div>
                    <div class="col-8 index-card">
                        <h5 class="card-title">{{ job.company }}</h5>
                        <p class="card-text">{{ job.title }}</p>
                    </div>
                    <div class="col-2 job-status">
                        <p class="card-text">{{ job.status }}</p>
                    </div>
                </div>
            </div>            
        </div>
    </a>
{% endfor %}
    

{% endblock %}





