{% extends 'base.html' %}
{% block content %}

<h1>Job Tracker</h1>
<hr />
<p>Track your jobs!</p>


{% for job in job_list %}
    <a href="{% url 'jobs_detail' job.id %}">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h5 class="card-title">{{ job.company }}</h5>
                        <img src="https://logo.clearbit.com/{{ job.logo }} " alt="">
                        <p class="card-text">Title: {{ job.title }}</p>
                    </div>
                    <div class="col-6">
                        <p class="card-text">Status: {{ job.status }}</p>
                    </div>
                </div>
            </div>            
        </div>
    </a>
{% endfor %}
    

{% endblock %}





