{% extends 'base.html' %}
{% block content %}

<!-- <h2>{{ company }}</h2>
<h3>{{ domain }}</h3>
<h4>{{ description }}</h4>
<h5>{{ industry }}</h5> -->

{% if user.id == job.user_id %}
    <!-- Job details -->
    <div class="row">
        <div class="col-8">
            <h1>Job Details</h1>
        </div>
        <div class="col-4 detail-header">
            <a class="btn job-btn" href="{% url 'jobs_index' %}">My Jobs</a>
        </div>
    </div>
    <hr />

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <img class="icon" src="https://logo.clearbit.com/{{ job.company|cut:' ' }}.com" alt="">
                </div>      
                <div class="col-5 detail-left">
                    <h3 class="card-title">{{ job.company }}</h3>
                    <h5>{{ job.title }}</h5>
                    <p>${{ job.salary }}</p>
                    <p>{{ job.location }}</p>
                </div>
                <div class="col-5 detail-right">                    
                    <h5>{{ job.status }}</h5>
                    <p>Applied {{ job.date_applied }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-8">
                    <h5>Technical Requirements</h5> 
                    <p> {{ job.tech_reqs }}</p>
                </div>
                <div class="col-2"></div>
                
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <h5>Description</h5> 
                    <p>{{ job.description }}</p>                    
                </div>
                <div class="col-2"></div>

            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                    <p>Source: {{ job.source }}</p>               
                </div>

            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                    <a class="btn job-btn" href="{% url 'jobs_update' job.id %}">Edit</a>
                    <a class="btn job-btn" href="{% url 'jobs_delete' job.id %}">Delete</a>                    
                </div>

            </div>
        </div>   
    </div>


    <!-- Company Details -->
    <br />
    <div class="row">
        <h1>Company Details</h1>

    </div>
    <hr />

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-2 link-col">
                    <div class="row">
                        <a href="https://www.linkedin.com/{{ linkedin_handle }}" target="_blank">
                            <img class="logo" src="../static/images/linkedin.svg" alt="">
                        </a>
                    </div>
                    <div class="row">
                        <a href="https://www.twitter.com/{{ twitter_handle }}" target="_blank">
                            <img class="logo" src="../static/images/twitter.svg" alt="">
                        </a>
                    </div>
                    <div class="row">
                        <a href="https://www.facebook.com/{{ facebook_handle }}" target="_blank">
                            <img class="logo" src="../static/images/facebook.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <a href="https://www.{{ domain }}" target="_blank">
                            <h3 class="card-title">{{ job.company }}</h3>
                        </a>
                        <p class="subhead">{{ sub_industry }}</p>
                    </div>
                    <div class="row">
                        <p>{{ description}}</p>
                    </div>
                </div>
                <div class="col-2"></div>  
            </div>   
        </div>   
    </div>

{% else %}
    <h1>You do not have access to this page 😡</h1>

{% endif %}
    



    

{% endblock %}

