{% extends 'base.html' %}
{% block content %}

<h1>Job Details</h1>
<hr />
<p>Details about {{ job.title }} at {{ job.company }}</p>


<div class="card">
    <div class="card-content">
        <span class="card-title">{{ job.company }}</span>
        <p>Title: {{ job.title }}</p>
        <p>Salary: {{ job.salary }}</p>
        <p>Location: {{ job.location }}</p>

        <p>Date Applied: {{ job.date_applied }}</p>
        <p>Status: {{ job.status }}</p>

        <p>Technical Requirements: {{ job.tech_reqs }}</p>
        <p>Description: {{ job.description }}</p>

        <p>Source: {{ job.source }}<p>
    </div>            
</div>

    

{% endblock %}

