{% extends 'base.html' %}
{% block content %}

<main class="container">
<h1>Log In</h1>
<hr />

<div class="card shadow p-3 mb-5 rounded form-account">
    <div class="card-body">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'username' %}
                    <fieldset class="form-group">
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <input maxlength="100" type="text" class="form-control"
                            name="{{ field.name }}"
                            id="id_{{ field.name }}"
                            value=""
                            > 
                    </fieldset>
                    <br>
                {% elif field.name == 'password' %}
                    <fieldset class="form-group">
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <input maxlength="100" type="password" class="form-control"
                            name="{{ field.name }}"
                            id="id_{{ field.name }}"
                            value=""
                            > 
                    </fieldset>
                {% endif %}
            {% endfor %}
            <br>
            <input type="submit" class="btn job-btn" value="Log In">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>

{% endblock %}