{% extends 'base.html' %}
{% block content %}

<main class="container">
<h1>Sign Up</h1>
<hr />

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<div class="card shadow p-3 mb-5 rounded form-account">
    <div class="card-body">
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'username' %}
                    <fieldset class="form-group">
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <input maxlength="100" type="text" class="form-control"
                            name="{{ field.name }}"
                            id="id_{{ field.name }}"
                            value=""
                            > 
                            <small class="text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
                    </fieldset>
                {% elif field.name == 'password1' %}
                    <fieldset class="form-group">
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <input maxlength="100" type="password" class="form-control"
                            name="{{ field.name }}"
                            id="id_{{ field.name }}"
                            value=""
                            > 
                            <small class="text-muted">Your password can't be too similar to your other personal information.</small>
                            <small class="text-muted">Your password must contain at least 8 characters.</small>
                            <small class="text-muted">Your password can't be a commonly used password.</small>
                            <small class="text-muted">Your password can't be entirely numeric.</small>                    
                    </fieldset>
                {% elif field.name == 'password2' %}
                    <fieldset class="form-group">
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <input maxlength="100" type="password" class="form-control"
                            name="{{ field.name }}"
                            id="id_{{ field.name }}"
                            value=""
                            > 
                            <small class="text-muted">Enter the same password as before, for verification.</small>                
                    </fieldset>
                {% endif %}
            {% endfor %}
            <br>
            <input type="submit" class="btn job-btn" value="Sign Up">
        </form>
    </div>
</div>
{% endblock %}