{% extends 'base.html' %} {% block content %}

<h1>Welcome to the Job Tracker</h1>
<h2>Keeping track of your job applications can be a pain</h2>
<p>
    Job Tracker is your one-stop source for managing all of your job applications
    and everything that goes into them.
</p>
<ul>
    <li>
        Add a job that you're interested in
    </li>
    <li>
        Include the relevant information
    </li>
    <li>
        Automatically see information on that company
    </li>
    <li>
        Keep tabs on where you're at in the application process
    </li>
    <li>
        Upload the resume and cover letter you used for an application
    </li>
    <li>
        View all your job applications at a glance
    </li>
</ul>

<a class="btn job-btn" href="{% url 'signup' %}">Sign Up</a>
<a class="btn job-btn" href="{% url 'login' %}">Log In</a>


{% endblock %}
