*,
*::before,
*::after {
  box-sizing: border-box;
} 

:root {
  --clr-light: #f8f9fa;
  --clr-lmid: #dee2e6;
  --clr-mid: #6c757d;
  --clr-dark: #212529;
  --clr-alt: #255C99;
  --clr-feat: #495057;  
  --fs-h1: 4rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.5rem;
  --fs-body: 1.115rem;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

nav {
  background-color: var(--clr-dark);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--clr-light);
    font-family: 'Noto Sans', sans-serif;
    font-size: var(--fs-body);
  }
  
main {
    flex: 1 0 auto;
}
  
footer.page-footer {
    padding-top: 0;
    text-align: right;
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}

a:hover {
  color: var(--clr-mid);
}

p {
  margin-bottom: 0;
}

.submit-btn {
  margin-top: 20px;
}
.row {
  margin-bottom: 10px;
  margin-top: 10px;
}

.card {
  background-color: var(--clr-lmid);
  margin: 15px;
}

.navbar-brand, .nav-item {
  margin: 0 10px
}

.job-status {
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.detail-right {
  /* margin: auto; */
  text-align: right;
}

.job-btn {
  color: var(--clr-light);
  background-color: var(--clr-alt);
}

.doc-title {
  text-decoration: underline;
}

.detail-header {
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.logo {
  max-width: 40px;
  /* margin: 0 auto; */
}

.link-col {
  text-align: center;
}

.icon {
  max-width: 100%;
}

.col-2 {
  text-align: center;
}

.index-card {
  margin: auto;
}

.form-contact {
  width: 600px;
  max-width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.doc-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.file-up {
  max-width: 210px;
}

.feature {
  color: var(--clr-feat);
}

.cover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

ul {
  list-style-type: none;
}

.home {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

#cover-logo {
  max-width: 100%;
}

.home-btn {
  color: var(--clr-dark);
  background-color: var(--clr-lmid);
}

.paragraph {
  margin-bottom: 0.2rem;
}

.form-account {
  width: 450px;
  max-width: 100%;
}

.form-group {
  margin-bottom: .5rem;
}

.control-label {
  margin-bottom: .25rem;
}

.form-delete {
  width: 800px;
  max-width: 80%;
}